In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import os
import warnings
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [4]:
dataset = pd.read_csv("insurance.csv")
dataset.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Check the corrleation in dataset

In [5]:
dataset.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

# the dataset hasen't non values

In [6]:
dataset.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# find the mean  , std division ,min ,max of the (age , bmi ,charges)

In [7]:
age_m = dataset['age'].mean()
bmi_m = dataset['bmi'].mean()
charge_m = dataset['charges'].mean()
age_std = dataset['age'].std()
bmi_std = dataset['bmi'].std()
charges_std = dataset['charges'].std()
print ('min of age = ' , dataset['age'].min() ,'  ' ,'max of age = ' , dataset['age'].max()")
print ('min of bmi = ' , dataset['bmi'].min() ,'  ' ,'max of bmi = ' , dataset['bmi'].max())
print ('min of charges = ' , dataset['charges'].min() ,'  ' ,'max of charges = ' , dataset['charges'].max())
print ('mean of age = ' , age_m ,' ','mean of bmi= ' ,bmi_m ,' ', 'mean of charge = ', charge_m)
print('std of age=',age_std , ' ' , 'std of bmi = ', bmi_std,' ', 'std of charges' , charges_std"

min of age =  18    max of age =  64
min of bmi =  15.96    max of bmi =  53.13
min of charges =  1121.8739    max of charges =  63770.42801
mean of age =  39.20702541106129   mean of bmi=  30.663396860986538   mean of charge =  13270.422265141257
std of age= 14.049960379216172   std of bmi =  6.098186911679017   std of charges 12110.011236693994

In [8]:
#sex
le = LabelEncoder()
le.fit(dataset.sex.drop_duplicates()) 
dataset.sex = le.transform(dataset.sex)
# smoker or not
le.fit(dataset.smoker.drop_duplicates()) 
dataset.smoker = le.transform(dataset.smoker)
#region
le.fit(dataset.region.drop_duplicates()) 
dataset.region = le.transform(dataset.region)
dataset.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [9]:
features = dataset.iloc[:,1:-1].values
goal = dataset.iloc[:,-1].values
dataset.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null int64
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null int64
region      1338 non-null int64
charges     1338 non-null float64
dtypes: float64(2), int64(5)
memory usage: 73.2 KB

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
x = dataset.drop(['charges'], axis = 1)
y = dataset.charges

x_train,x_test,y_train,y_test = train_test_split(x,y, random_state = 0)
lr = LinearRegression().fit(x_train,y_train)

y_train_pred = lr.predict(x_train)
y_test_pred = lr.predict(x_test)

print(lr.score(x_test,y_test))

0.7962732059725786